body {
  font-family: 'Segoe UI','Helvetica',Arial;
  padding: 0;
  margin: 0; }

#temp-demo {
  width: 100%;
  background: #000;
  padding: 0;
  margin: 0; }
  #temp-demo li {
    display: inline-block;
    margin: 0;
    padding: 0; }
  #temp-demo a {
    display: block;
    padding: 5px 10px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px; }

#household a {
  color: #000000;
  outline: 0 none; }
#household dt {
  color: #999;
  font-size: 11px;
  float: left;
  clear: left;
  width: 90px; }
#household dd {
  margin-left: 100px;
  margin-bottom: 10px; }
#household dt.ckbox {
  color: #000;
  width: 25px; }
#household dd.ckbox {
  margin-left: 35px; }
#household textarea {
  resize: none;
  min-width: 225px;
  min-height: 155px; }
#household .clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }
#household .content-tabs {
  border-bottom: 1px solid #DDDDDD;
  margin: 10px 0; }
  #household .content-tabs a {
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none; }
  #household .content-tabs .active {
    background: none repeat scroll 0 0 #E5EFFE; }
#household .content-instructions {
  font-size: 12px;
  position: absolute;
  right: 30px;
  top: 86px;
  width: 270px; }
  #household .content-instructions h4 {
    margin-bottom: 15px; }
  #household .content-instructions p {
    margin-bottom: 15px; }
#household #household-profile {
  padding: 10px 50px;
  max-width: 1000px; }
  #household #household-profile h2 {
    margin: 20px 0px;
    font-size: 26px;
    font-weight: normal; }
  #household #household-profile .instructions {
    margin: 10px 0px; }
#household #profile-actions {
  margin: 20px 0px;
  width: auto; }
  #household #profile-actions h4 {
    color: #333;
    font-size: 11px;
    padding: 20px 10px 5px 0px;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    margin-bottom: 5px;
    padding-left: 10px; }
  #household #profile-actions h4:first-child {
    padding-top: 10px; }
  #household #profile-actions .search {
    text-align: right; }
  #household #profile-actions #profile-search {
    padding: 5px 10px;
    font-size: 16px;
    width: 250px;
    border-radius: 3px;
    border: 1px solid #ddd; }
  #household #profile-actions .card-category {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 15px 10px;
    min-width: 360px;
    margin-right: 24px;
    margin-bottom: 0px;
    vertical-align: top; }
  #household #profile-actions .card-category.placeholder {
    border-bottom: none; }
  #household #profile-actions .card-category > a {
    border-bottom: 1px solid #CCCCCC;
    color: #007DDE;
    display: inline-block;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 7px;
    padding-bottom: 4px;
    text-decoration: none;
    width: 360px; }
  #household #profile-actions .card-category > a:hover {
    text-decoration: none;
    color: #000; }
  #household #profile-actions .card-category a.add {
    display: block;
    background: none repeat scroll 0 0 #007DDE;
    border: medium none;
    color: #FFFFFF;
    font-size: 11px;
    padding: 6px 0 4px;
    text-align: center;
    width: 90px;
    margin-left: 15px;
    margin-bottom: 2px;
    text-transform: uppercase; }
  #household #profile-actions .preview {
    display: block;
    font-size: 12px;
    color: #999;
    margin-left: 0px;
    margin-top: 5px; }
  #household #profile-actions .card-category.selected {
    box-shadow: 0px -7px 7px -7px #777777; }
    #household #profile-actions .card-category.selected a {
      font-weight: bold; }
    #household #profile-actions .card-category.selected .preview {
      font-weight: normal; }
#household .cards {
  position: relative;
  z-index: 1;
  padding: 10px 15px; }
#household .cards-tab-selected {
  position: absolute;
  left: 5px;
  top: -71px;
  height: 70px;
  width: 360px;
  z-index: 1; }
#household .card {
  float: left;
  position: relative;
  margin-right: 32px;
  width: 360px;
  box-shadow: 1px 1px 5px #999;
  border: 1px solid #999; }
  #household .card .card-title {
    font-weight: bold; }
    #household .card .card-title em {
      font-weight: normal;
      font-size: 12px;
      color: #999; }
  #household .card .card-toolbar {
    background: #fff;
    height: 30px;
    line-height: 30px;
    position: relative;
    padding: 0px 10px; }
    #household .card .card-toolbar .card-actions {
      position: absolute;
      right: 0px;
      top: -2px;
      height: 24px;
      line-height: 24px; }
      #household .card .card-toolbar .card-actions a {
        display: inline-block;
        padding: 0px 10px;
        font-size: 12px !important;
        line-height: 24px !important;
        height: 24px;
        margin-left: -4px;
        text-align: center;
        text-decoration: none; }
      #household .card .card-toolbar .card-actions .edit {
        background: #007DDE;
        color: #fff !important;
        width: 40px; }
      #household .card .card-toolbar .card-actions .save {
        background: #007DDE;
        color: #fff !important;
        width: 40px;
        display: none; }
      #household .card .card-toolbar .card-actions .remove {
        color: red !important; }
      #household .card .card-toolbar .card-actions .remove:hover {
        background: #FFCCCC; }
  #household .card .card-content {
    font-size: 13px;
    background: #fff;
    padding: 10px;
    overflow: hidden; }
    #household .card .card-content i.icon-check, #household .card .card-content i.icon-check-empty {
      margin-right: 10px;
      padding-left: 5px;
      font-size: 14px; }
    #household .card .card-content p {
      margin-bottom: 5px;
      padding: 0px; }
    #household .card .card-content td {
      padding: 4px 0;
      vertical-align: top; }
    #household .card .card-content .mini-section {
      padding-top: 8px;
      margin-top: 8px;
      border-top: 1px solid #ccc;
      font-weight: bold;
      font-style: italic;
      color: #555; }
    #household .card .card-content .label, #household .card .card-content label {
      color: #999;
      font-size: 11px;
      padding-right: 15px; }
    #household .card .card-content dt.ckbox.label {
      color: #000; }
    #household .card .card-content dt.ckbox.label {
      color: #000; }
    #household .card .card-content .cbox-label {
      color: #000;
      font-size: 13px; }
    #household .card .card-content .not-checked, #household .card .card-content dt.ckbox.label.not-checked {
      color: #999; }
    #household .card .card-content input[type="text"], #household .card .card-content textarea {
      border: 1px solid #999;
      padding: 2px 3px; }
    #household .card .card-content .input, #household .card .card-content input[type="checkbox"] {
      text-align: left;
      padding-top: 0;
      margin-top: -1px; }
  #household .card .standalone-textarea {
    height: 188px;
    margin: 15px 10px 10px;
    padding: 5px;
    width: 325px; }
  #household .card .edit-content {
    display: none; }
  #household .card .help {
    font-size: 10px;
    font-style: italic;
    color: #999; }
