<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Rodger McAlester
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<table>
			<%= render '/shared/contact_base_read_only' %>
			<tr><td class="label" colspan="2">Receives Invoice For:</td></tr>
			<%= render '/shared/child_ckboxes_read' %>
		</table>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form class="pickup-545435">
			<input type="hidden" name="person_pk" value="0"></input> <!-- Do not update the person -->
			<table>
				<%= render '/shared/contact_base_read_only' %>
				<tr><td class="label" colspan="2">Receives Invoice For:</td></tr>
				<%= render '/shared/child_ckboxes_write' %>
			</table>
		</form>
	</div>
	
</div>