<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Johnny: United States
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		
		<dl>
			
			<dt>Citzen</dt>	
			<dd>Johnny</dd>

			<dt>Country</dt>
			<dd>United States</dd>

			<dt>Passport Issued</dt>
			<dd>10/12/2003</dd>

			<dt>Passport Expires</dt>
			<dd>10/12/2013</dd>

			<dt>Passport Number</dt>
			<dd>340000230</dd>

			
		</dl>

		<p class="mini-section"></p>

		<dl>	
			<dt>Primary Citizenship?</dt>
			<dd>Yes</dd>
		</dl>

	</div>

	<div class='card-content edit-content edit-toggle'>
		<form class="pickup-545435">
			<input type="hidden" name="person_citizenship_pk" value="5460"></input> 
		
			<dl>

				<dt>Citzen</dt>
				<dd>Johnny</dd>

				<dt>Country</dt>
				<dd>United States</dd>

				<dt>Passport Issued</dt>
				<dd>
					<input type="text" name="passport_issue_date" value="10/12/2003" />
				</dd>
				
				<dt>Passport Expires</dt>
				<dd>
					<input type="text" name="passport_expiration_date" value="10/12/2013" />
				</dd>

				<dt>Passport Number</dt>
				<dd>
					<input type="text" name="passport_number" value="340000230" />
				</dd>

			</dl>

			<p class="mini-section"></p>

			<dl>
				<dt>Primary Citizenship?</dt>
				<dd>
					<select class="input" name="primary_citizenship">
						<option value="1" selected="selected">
							Yes 
						</option>	
						<option>
							No
						</option>
					</select>
				</dd>
			</dl>
			
		</form>
	</div>
	
</div>