<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			FirstName
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>
			<dt>Full Name:</dt>
			<dd>Rodger McAlester-Donivant III</dd>

			<dt>Home Phone:</dt>
			<dd>(234) 123-3545</dd>
	
			<dt>Work Phone:</dt>
			<dd>(234) 123-3490</dd>
	
			<dt>Mobile Phone:</dt>
			<dd>(567) 234-2393</dd>
		
			<dt>Emergency contact?</dt>
			<dd>Yes</dd>
		</dl>
	
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form id="contact-54546">
			<input type="hidden" name="person_pk" value="54546"></input>
		
			
				<dl>
					<dt>Full Name:</dt>
					<dd>Rodger McAlester-Donivant III</dd>
				
				
					<dt>Relationship: </dt>
					<dd>
						<select class="input" name="relationship">
							<option value="14" selected="selected">Uncle</option>
							<option value="15">Aunt</option>
							<option value="16">Magician</option>
						</select>
					</dd>
				
				
					<dt>Home Phone: </dt>
					<dd><input class="input" type="text" name="phone_home" value="(234) 123-3490"></input></dd>
				
				
					<dt>Work Phone: </dt>
					<dd><input class="input" type="text" name="phone_business" value="(234) 123-3545"></input></dd>
				
				
					<dt>Mobile Phone: </dt>
					<dd><input class="input" type="text" name="phone_mobile" value="(567) 234-2393"></input></dd>
				
					<dt>Emergency contact?</dt>
					<dd>
						<select class="input" name="is_emergency_contact">
							<option value="1" selected="selected">
								Yes 
							</option>	
							<option>
								No
							</option>
						</select>
					</dd>

				</dl>
			
		</form>
	</div>
</div>