<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			FirstName
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<table>
			<%= render '/shared/contact_base_read_only' %>
			<tr><td class="label">Home Phone:</td><td>(234) 123-3490</td></tr>
			<tr><td class="label">Work Phone:</td><td>(234) 123-3545</td></tr>
			<tr><td class="label">Mobile Phone:</td><td>(567) 234-2393</td></tr>
			<tr><td class="label">Is emergency contact?</td><td>Yes</td></tr>
		</table>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form id="contact-54546">
			<input type="hidden" name="person_pk" value="54546"></input>
			<table>
				<tr>
					<td class="label">Full Name: </td> 
					<td>Rodger McAlester-Donivant III</td>
				</tr>
				<tr>
					<tr>
					<td class="label">Relationship: </td> 
					<td>
						<select class="input" name="relationship">
							<option value="14" selected="selected">Uncle</option>
							<option value="15">Aunt</option>
							<option value="16">Magician</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">Home Phone: </td> 
					<td><input class="input" type="text" name="phone_home" value="(234) 123-3490"></input></td>
				</tr>
				<tr>
					<td class="label">Work Phone: </td>
					<td><input class="input" type="text" name="phone_business" value="(234) 123-3545"></input></td>
				</tr>
				<tr>
					<td class="label">Mobile Phone: </td> 
					<td><input class="input" type="text" name="phone_mobile" value="(567) 234-2393"></input></td>
				</tr>
				<tr>
					<td class="label">Is emergency contact?</label></td>
					<td>
						<select class="input" name="is_emergency_contact">
							<option value="1" selected="selected">
								Yes 
							</option>	
							<option>
								No
							</option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>