<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Directory Preferences
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
	
		<dl>
			<dt class="label ckbox"><i class="icon-check"></i></dt>
			<dd class="ckbox">Display Household Address</dd>
			
			<dt class="label ckbox not-checked"><i class="icon-check-empty"></i></dt>
			<dd class="ckbox">Display Household Phone</dd>

		</dl>

	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="household_pk" value="5465"></input> <!-- Do not update the person -->
		
			<dl>
				<dt class="label ckbox"><input type="checkbox" name="" checked="checked"></input></dt>
				<dd class="ckbox">Display Household Address</dd>
			
				<dt class="label ckbox"><input type="checkbox" name=""></dt>
				<dd class="ckbox">Display Household Phone</dd>
			</dl>
			
		</form>
	</div>

</div>