<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Elliott's Employer
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>

			<dt>Employer Name:</dt>
			<dd>Breuer &amp; Co LLC.</dd>

			<dt>Current/Former?</dt>
			<dd>Current</dd>

			<dt>Job Title</dt>
			<dd>CEO</dd>

			<dt>Phone</dt>
			<dd>(123) 213-2343 x3423</dd>
		</dl>
		<p class="mini-section"><p>
		<dl>
			<dt>Address</dt>
			<dd>
				701 Edgewater Drive<br/>
				Suite 360<br/>
				Wakefield, MA 88465<br/>
				United States
			</dd>

		</dl>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form class="pickup-545435">
			<input type="hidden" name="person_organization_pk" value="2342"></input> <!-- Do not update the person -->

			<dl>	
				<dt>Employer Name:</dt>
				<dd>Breuer &amp; Co LLC.</dd>

				<dt>Current/Former?</dt>
				<dd> 
					<select name="current_former">
						<option value="1">Current</option>
						<option value="0">Former</option>
					</select>
				</dd>

				<dt>Job Title</dt>
				<dd><input type="text" name="title" value="CEO"></input></dd>

				<dt>Phone</dt>
				<dd>
					<input type="text" name="phone" value="(123) 213-2343 x3423"></input>
				</dd>
			</dl>
			<p class="mini-section label"><p>
			<dl>
				<dt>Address 1</dt>
				<dd>
					<input type="text" name="address_1_a" value="701 Edgewater Drive"></input>
				</dd>
							
				<dt>Address 2</dt>
				<dd>
					<input type="text" name="address_2_a" value="Suite 360"></input>
				</dd>
							
				<dt>Address 3</dt>
				<dd>
					<input type="text" name="address_3_a" value=""></input>
				</dd>
							
				<dt>City</dt>
				<dd>
					<input type="text" name="city_a" value="Wakefield"></input>
				</dd>
							
				<dt>State/Province</dt>
				<dd>
					<input type="text" name="state_province_a" value="MA"></input>
				</dd>
							
				<dt>Postal Code</dt>
				<dd>
					<input type="text" name="postal_code_a" value="88465"></input>
				</dd>

				<dt>Country</dt>
				<dd>
					<select name="country_a">
						<option value="1">United States</option>
						<option value="2">Some Other Country</option>
					</select>
				</dd>
							
			
				
			</dl>
		</form>
	</div>

</div>