<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Dr. Cameron
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<table>
			<tr>
				<td class="label">Name: </td>
				<td> Dr. James Cameron </td>
			</tr>
			<tr>
				<td class="label">Type: </td>
				<td> Current Doctor </td>
			</tr>
			<tr>
				<td class="label">Office Phone: </td>
				<td>(468) 545-8788</td>
			</tr>
			<tr>
				<td class="label">Address: </td>
				<td>123 Chester Dr<br/>Suite 231<br/> South Boston MA, 01545</td>
			</tr>
		</table>

		<p class="label mini-section">Primary Doctor For: </p>
		<table>
			<%= render '/shared/child_ckboxes_read' %>
		</table>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form id="doctor-54546">
			<input type="hidden" name="organization_pk" value="54546"></input>
			<table>
				<tr>
					<td class="label">Name: </td>
					<td> 
						Dr. James Cameron
					</td>
				</tr>
				<tr>
					<td class="label">Current/Former? </td>
					<td> 
						<select name="current_former">
							<option value="1">Current</option>
							<option value="0">Former</option>
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">Office Phone: </td>
					<td>
						<input name="phone" type="text" value="(468) 545-8788"></input> 
					</td>
				</tr>

		
				<tr>
					<td class="label">Address 1: </td>
					<td>
						<input name="address_1" type="text" value="123 Chester Dr"></input> 
					</td>
				</tr>
				<tr>
					<td class="label">Address 2: </td>
					<td>
						<input name="address_2" type="text" value="Suite 231"></input> 	
					</td>
				</tr>
				<tr>
					<td class="label">Address 3: </td>
					<td>
						<input name="address_3" type="text" value=""></input>
					</td>
				</tr>
				<tr>
					<td class="label">City</td>
					<td>
						<input name="city" type="text" value="South Boston"></input>
					</td>
				</tr>
				<tr>
					<td class="label">State</td>
					<td>
						<input name="state" type="text" value="MA"></input>
					</td>
				</tr>
				<tr>
					<td class="label">Zip</td>
					<td>
						<input name="postal_code" type="text" value="01545"></input>
					</td>
				</tr>
			</table>

			<p class="label mini-section">Primary Doctor For: </p>
			<table>
				<%= render '/shared/child_ckboxes_write' %>
			</table>
		</form>
	</div>
</div>