<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Dr. Root
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>
		
			<dt>Name: </dt>
			<dd> Dr. Rita Root </dd>
		
			<dt>Type: </dt>
			<dd> Current Dentist </dd>
		
			<dt>Office Phone: </dt>
			<dd>(468) 545-8789</dd>
		
			<dt>Address: </dt>
			<dd>123 Fester Dr<br/>Suite 231<br/> North Boston MA, 01546</dd>
			
		</dl>

		<p class="label mini-section">Primary Dentist For: </p>
		<dl>
			<%= render '/shared/child_ckboxes_read' %>
		</dl>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="organization_pk" value="54546"></input>
			<dl>
				
				<dt>Name: </dt>
				<dd> 
					Dr. Rita Root 
				</dd>
			
				<dt>Current/Former? </dt>
				<dd> 
					<select name="current_former">
						<option value="1">Current</option>
						<option value="0">Former</option>
					</select>
				</dd>
			
				<dt>Office Phone: </dt>
				<dd>
					<input name="phone" type="text" value="(468) 545-8789"></input> 
				</dd>
			
				<dt>Address 1: </dt>
				<dd>
					<input name="address_1" type="text" value="123 Fester Dr"></input> 
				</dd>
			
				<dt>Address 2: </dt>
				<dd>
					<input name="address_2" type="text" value="Suite 231"></input> 	
				</dd>
			
				<dt>Address 3: </dt>
				<dd>
					<input name="address_3" type="text" value=""></input>
				</dd>
			
				<dt>City</dt>
				<dd>
					<input name="city" type="text" value="North Boston"></input>
				</dd>
			
				<dt>State</dt>
				<dd>
					<input name="state" type="text" value="MA"></input>
				</dd>
			
				<dt>Zip</dt>
				<dd>
					<input name="postal_code" type="text" value="01546"></input>
				</dd>
				
			</dl>

			<p class="label mini-section">Primary dentist For: </p>
			<dl>
				<%= render '/shared/child_ckboxes_write' %>
			</dl>
		</form>
	</div>
</div>