<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			FirstName
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<table>
			<tr><td class="label">Full Name</td><td>Johnny Breuer, Jr</td></tr>
			<tr><td class="label">Mobile Phone:</td><td>(567) 234-2343</td></tr>
			<tr><td class="label">Primary Email:</td><td>jrbreuer@gmail.com</td></tr>
			<tr><td class="label">Secondary Email:</td><td>jrbreuer@breuer.com</td></tr>
		</table>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form id="household-child-54546">
			<input type="hidden" name="person_pk" value="54546"></input>
			<table>
				<tr><td class="label">Full Name</td><td>Johnny Breuer, Jr</td></tr>
				<tr>
					<td class="label">Mobile Phone: </td> 
					<td><input class="input" type="text" name="phone_mobile" value="(567) 234-2343"></input></td>
				</tr>

				<tr>
					<td class="label">Primary Email: </td> 
					<td><input class="input" type="text" name="email_1" value="jrbreuer@gmail.com"></input></td>
				</tr>
				<tr>
					<td class="label">Secondary Email: </td> 
					<td><input class="input" type="text" name="phone_mobile" value="jrbreuer@breuer.com"></input></td>
				</tr>
			
			</table>
		</form>
	</div>
</div>