<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			FirstName
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
			<p><label>Full Name</label> First [(Preferred)] Last [Suffix]</p>
			<p><label>Mobile Phone: </label> (567) 234-3423</p>
			<p><label>Work Phone: </label> (234) 123-3343</p>
			<p><label>Primary Email: </label> johnny.doe@veracross.com</p>
			<p><label>Secondary Email: </label> superkid@veracross.com</p>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form id="household-child-54546">
			<input type="hidden" name="person_pk" value="54546"></input>
			<table>
				<tr>
					<td class="label">Full Name: </td> 
					<td>[Prefix] First [(Preferred)] Last [Suffix]</td>
				</tr>
				<tr>
					<td class="label">Mobile Phone: </td> 
					<td><input class="input" type="text" name="phone_mobile" value="(567) 234-3423"></input></td>
				</tr>
				<tr>
					<td class="label">Work Phone: </td>
					<td><input class="input" type="text" name="phone_business" value="(234) 123-3343"></input></td>
				</tr>

				<tr>
					<td class="label">Primary Email: </td> 
					<td><input class="input" type="text" name="email_1" value="johnny.doe@veracross.com"></input></td>
				</tr>
				<tr>
					<td class="label">Secondary Email: </td> 
					<td><input class="input" type="text" name="phone_mobile" value="superkid@veracross.com"></input></td>
				</tr>
			
			</table>
		</form>
	</div>
</div>