<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			FirstName
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>
			<dt>Full Name</dt>
			<dd>Johnny Breuer, Jr</dd>
			
			<dt>Mobile Phone:</dt>
			<dd>(567) 234-2343</dd>
			
			<dt>Primary Email:</dt>
			<dd>jrbreuer@gmail.com</dd>
			
			<dt>Secondary Email:</dt>
			<dd>jrbreuer@breuer.com</dd>
			
		</dl>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="person_pk" value="54546"></input>
			<dl>
				<dt>Full Name</dt>
				<dd>Johnny Breuer, Jr</dd>
				
				<dt>Mobile Phone: </dt> 
				<dd><input class="input" type="text" name="phone_mobile" value="(567) 234-2343"></input></dd>

				
				<dt>Primary Email: </dt> 
				<dd><input class="input" type="text" name="email_1" value="jrbreuer@gmail.com"></input></dd>
				
				<dt>Secondary Email: </dt> 
				<dd><input class="input" type="text" name="phone_mobile" value="jrbreuer@breuer.com"></input></dd>
			
			</dl>
		</form>
	</div>
</div>