<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			New Place of Worship
		</span>
		<span class='card-actions'>
			<a href="#" class='edit send'>send</a>
		</span>
	</div>
	
	<form>
		<input type="hidden" name="app_only" value="1">
		<input type="hidden" name="household_pk" value="32434">

		<textarea class="standalone-textarea" name="pow_add"></textarea>
	</form>


</div>