<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			1234 Main Street
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>

			<dt>Address</dt>
			<dd>
				1234 Main Street<br/>
				Charelston, SC 38290
			</dd>
					
			<dt>Phone</dt>
			<dd>(893) 234-2343</dd>

		</dl>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="household_pk" value="2342"></input>
			<dl>
				
				<dt>Address Change</dt>
				<dd>
					<select name="address_change">
						<option value="0">I am moving</option>
						<option value="1">I have moved</option>
					</select>
				</dd>
			
			
				<dt>Address 1</dt>
				<dd>
					<input type="text" name="address_1_a" value="1234 Main Street"></input>
				</dd>
							
				<dt>Address 2</dt>
				<dd>
					<input type="text" name="address_2_a" value=""></input>
				</dd>
							
				<dt>Address 3</dt>
				<dd>
					<input type="text" name="address_3_a" value=""></input>
				</dd>
							
				<dt>City</dt>
				<dd>
					<input type="text" name="city_a" value="Charelston"></input>
				</dd>
							
				<dt>State</dt>
				<dd>
					<input type="text" name="state_province_a" value="SC"></input>
				</dd>
							
				<dt>Zip</dt>
				<dd>
					<input type="text" name="postal_code_a" value="38290"></input>
				</dd>
							
				<dt>Phone</dt>
				<dd>
					<input type="text" name="phone" value="(893) 234-2343"></input>
				</dd>
				
			</dl>
		</form>
	</div>

</div>