<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			1234 Main Street
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<table>
			<tr>
				<td class="label">Address</td>
				<td>
					1234 Main Street<br/>
					Charelston, SC 38290
				</td>
			</tr>
			<tr>
				<td class="label">
					Phone
				</td>
				<td>(893) 234-2343</td>
			</tr>
		</table>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form class="pickup-545435">
			<input type="hidden" name="household_pk" value="2342"></input> <!-- Do not update the person -->
			<table>
				<tr>
					<td class="label">Address Change</td>
					<td>
						<select name="address_change">
							<option value="0">I am moving</option>
							<option value="1">I have moved</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="label">Address 1</td>
					<td>
						<input type="text" name="address_1_a" value="1234 Main Street"></input>
					</td>
				</tr>
				<tr>
					<td class="label">Address 2</td>
					<td>
						<input type="text" name="address_2_a" value=""></input>
					</td>
				</tr>
				<tr>
					<td class="label">Address 3</td>
					<td>
						<input type="text" name="address_3_a" value=""></input>
					</td>
				</tr>
				<tr>
					<td class="label">City</td>
					<td>
						<input type="text" name="city_a" value="Charelston"></input>
					</td>
				</tr>
				<tr>
					<td class="label">State</td>
					<td>
						<input type="text" name="state_province_a" value="SC"></input>
					</td>
				</tr>
				<tr>
					<td class="label">Zip</td>
					<td>
						<input type="text" name="postal_code_a" value="38290"></input>
					</td>
				</tr>
				<tr>
					<td class="label">Phone</td>
					<td>
						<input type="text" name="phone" value="(893) 234-2343"></input>
					</td>
				</tr>
			</table>
		</form>
	</div>

</div>