<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			First Baptist Church
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>
					
			<dt>Address: </dt>
			<dd>123 Main Dr<br/> South Boston MA, 01545</dd>

		</dl>

		
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="organization_pk" value="54546"></input>
			
			<dl>
			
				<dt>Place of Worship: </dt>
				<dd>
					<select name="place_of_worship_fk">
						<option value="1">First Baptist Church</option>
						<option value="2">Second Baptist Church</option>
						<option value="3">Third Baptist Church</option>
					</select>
				</dd>
				
			</dl>

		</form>
	</div>
</div>