<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			[Pref.] First Last
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<p><label>Full Name</label> [Prefix] First [(Preferred)] Last [Suffix]</p>
		<p><label>Relationship:</label>Uncle</p>
		<p><label>Receives Report Card For:</label></p>
		<p><i class="icon-check"></i> Johnny</p>
		<p><i class="icon-check-empty"></i> Timmy</p>
		<p><i class="icon-check"></i>Jennifer</p>
		
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form class="receive-report-card-545435">
			<input type="hidden" name="person_pk" value="0"></input> <!-- Do not update the person -->
			<p><label>Full Name</label> [Prefix] First [(Preferred)] Last [Suffix]</p>
			<p><label>Relationship:</label>Uncle</p>
			<p><label>Receives Report Card For:</label></p>
			<table>
				<tr>
					<td>
						<input type="checkbox" id="receive-report_card-123123123" checked=checked value="123123123"></input> 
					</td>
					<td>
						<label for="receive-report-card-123123123" class="cbox-label">Johnny</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="receive-report-card-123123124" value="123123124"></input> 
					</td>
					<td>
						<label for="receive-report-card-123123124" class="cbox-label">Timmy</label>
					</td>
				</tr>
				<tr>
					<td>
						<input type="checkbox" id="receive-report-card-123123125" checked=checked  value="123123125"></input> 
					</td>
					<td>
						<label for="receive-report-card-123123125" class="cbox-label">Jennifer</label>
					</td>
				</tr>
			</table>
		</form>
	</div>
</div>