<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			Rodger McAlester
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		
		<dl>
			<%= render '/shared/contact_base_read_only' %>
		</dl>

		<p class="label">Receives Report Card For:</p>

		<dl>	
			<%= render '/shared/child_ckboxes_read' %>
		</dl>

	</div>

	<div class='card-content edit-content edit-toggle'>
		<form class="pickup-545435">
			<input type="hidden" name="person_pk" value="0"></input> <!-- Do not update the person -->
		
			<dl>
				<%= render '/shared/contact_base_read_only' %>
			</dl>

			<p class="label">Receives Report Card For:</p>

			<dl>	
				<%= render '/shared/child_ckboxes_write' %>
			</dl>
			
		</form>
	</div>
	
</div>