<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			101 Hollywood Blvd
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		<dl>

			<dt>Address</dt>
			<dd>
				101 Hollywood Blvd<br/>
				Unit 12<br/>
				Hollywood, CA 90069
				United States
			</dd>
					
			<dt>Phone</dt>
			<dd>(546) 456-8464</dd>

		</dl>
	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="household_pk" value="2342"></input> 
			<dl>

				<dt>Address 1</dt>
				<dd>
					<input type="text" name="address_1_b" value="101 Hollywood Blvd"></input>
				</dd>
							
				<dt>Address 2</dt>
				<dd>
					<input type="text" name="address_2_b" value="Unit 12"></input>
				</dd>
							
				<dt>Address 3</dt>
				<dd>
					<input type="text" name="address_3_b" value=""></input>
				</dd>
							
				<dt>City</dt>
				<dd>
					<input type="text" name="city_b" value="Hollywood"></input>
				</dd>
							
				<dt>State/Province</dt>
				<dd>
					<input type="text" name="state_province_b" value="CA"></input>
				</dd>
							
				<dt>Postal Code</dt>
				<dd>
					<input type="text" name="postal_code_b" value="90069"></input>
				</dd>

				<dt>Country</dt>
				<dd>
					<select name="country_b">
						<option value="1">United States</option>
						<option value="2">Some Other Country</option>
					</select>
				</dd>
							
				<dt>Phone</dt>
				<dd>
					<input type="text" name="phone" value="(546) 456-8464"></input>
				</dd>
				
			</dl>
		</form>
	</div>

</div>