<div class='card'>
	<div class='card-toolbar'>
		<span class='card-title'>
			2009 Fiat
		</span>
		<span class='card-actions'>
			<a href="#" class='edit edit-toggle'>edit</a>
			<a href="#" class='save edit-toggle'>save</a>
			<a href="#" class='remove'>&times; remove</a>
		</span>
	</div>

	<div class='card-content read-content edit-toggle'>
		
		<dl>
				
			<dt>Primary Driver</dt>
			<dd>Johnny</dd>
				
			<dt>Description</dt>
			<dd>Fiat Triumph (2009)</dd>

			<dt>License Plate</dt>
			<dd>WW4240</dd>

		</dl>

	</div>

	<div class='card-content edit-content edit-toggle'>
		<form>
			<input type="hidden" name="houshold_vehicle_pk" value="5460"></input> 
		
			<dl>
				<dt>Primary Driver</dt>
				<dd>
					<select name="primary_driver">
						<option value="1233">Johnny</option>
						<option value="34234">Timmy</option>
						<option value="32423">Jennifer</option>
					</select>
				</dd>
				
				<dt>Make</dt>
				<dd>
					<input type="text" name="make" value="Fiat"></input>
				</dd>

				<dt>Model</dt>
				<dd>
					<input type="text" name="model" value="Triumph"></input>
				</dd>

				<dt>Model Year</dt>
				<dd>
					<input type="text" name="model_year" value="2009"></input>
				</dd>

				<dt>License Plate</dt>
				<dd>
					<input type="text" name="license_plate_number" value="WW4240"></input>
				</dd>

			</dl>
			
		</form>
	</div>
	
</div>