
<tr>
	<td><i class="icon-check"></i></td>
	<td>Johnny</td>
</tr>
<tr>
	<td><i class="icon-check"></i></td>
	<td>Timmy</td>
</tr>
<tr class="not-checked">
	<td><i class="icon-check-empty"></i></td>
	<td>Jennifer</td>
</tr>
